<h1 class="text-2xl font-bold mb-4">Manage Posts</h1>

<table class="w-full table-auto border border-gray-300">
  <thead class="bg-gray-100">
    <tr>
      <th class="px-4 py-2 border">ID</th>
      <th class="px-4 py-2 border">Title</th>
      <th class="px-4 py-2 border">User</th>
      <th class="px-4 py-2 border">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td class="border px-4 py-2"><%= post.id %></td>
        <td class="border px-4 py-2"><%= post.title %></td>
        <td class="border px-4 py-2"><%= post.user.name %></td>
        <td class="border px-4 py-2 space-x-2">
          <%= link_to "Show", admin_post_path(post), class: "px-2 py-1 bg-blue-500 text-white rounded" %>
          <%= link_to "Edit", edit_admin_post_path(post), class: "px-2 py-1 bg-yellow-500 text-white rounded" %>
          <%= link_to "Delete", admin_post_path(post), method: :delete, data: { confirm: "Are you sure?" }, class: "px-2 py-1 bg-red-600 text-white rounded" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
